asgiref==3.3.1
boto3==1.17.44
botocore==1.20.44
Django==3.1.7
django-allauth==0.44.0
django-appconf==1.0.4
django-ckeditor==6.0.0
django-crispy-forms==1.11.0
django-filter==2.4.0
django-image-cropping==1.5.0
django-js-asset==1.2.2
django-storages==1.11.1
djangochannelsrestframework==0.2.1
djangorestframework==3.12.2
docutils==0.16
google-auth==1.16.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gunicorn==20.0.4
Jinja2==2.11.3
jmespath==0.10.0
Pillow==7.0.0
pytz==2020.1
python-dateutil==2.8.1
s3transfer==0.3.6
six==1.15.0
soupsieve==2.0.1
sqlparse==0.2.4
urllib3==1.25.8
whitenoise==5.2.0


